<app-header titulo="Input"></app-header>

<ion-content>
<ion-buttons slot="start" >
  <ion-back-button
  defaultHref="/" text="Regresar"
  color="primary"
  mode="ios"></ion-back-button>
</ion-buttons>


<ion-list>
  <ion-list>
    <ion-item>
      <ion-input label="Nombre Completo: " placeholder="Example: Jorge Luis Cabrera Cabrera"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Cédula de Identidad: " type="number" placeholder="Example: 0954595617"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Ingrese la contraseña: " type="password" value="Example: Jorgecabrera47"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Ingrese su Email: " type="email" placeholder="Example: jorgecabrera@gmail.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Numero Telefónico: " type="tel" placeholder="Example: 098-816-3169"></ion-input>
    </ion-item>
  </ion-list>
</ion-list>

</ion-content>
