<app-header titulo="Avatar"></app-header>

<ion-content>
<ion-buttons slot="start" >
  <ion-back-button
  defaultHref="/" text="Regresar"
  color="primary"
  mode="ios"></ion-back-button>
</ion-buttons>

<ion-item>
  <ion-avatar slot="start">
  

    <img alt="Jorge Cabrera" src="https://i.pinimg.com/236x/b3/55/8b/b3558bd2a989f2410f2ebe763bd1b104.jpg" />
  </ion-avatar>
  <ion-label>Jorge Cabrera</ion-label>
</ion-item>

<ion-item>
  <ion-avatar slot="start">
    <img alt="mama" src="https://www.un.org/sg/sites/www.un.org.sg/files/smg-portrait/Mizutori.jpg" />
  </ion-avatar>
  <ion-label>Digna Cabrera</ion-label>
</ion-item>


</ion-content>

